<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>DemoApp</title>
=======
  <title>TestProj</title>
>>>>>>> 6eceb3e8e3e0ea33903b3d48bb43c6946c152297
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
